# Ignorar arquivos de configuração específicos
.env

# Ignorar a pasta node_modules
node_modules/

# Ignorar a pasta build (ou dist)
build/

# Ignorar a pasta .next (para projetos Next.js)
.next/

# Ignorar outros arquivos temporários e de build
.DS_Store
.vscode/
